body {
  background-color: #BEE3DB;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

section {
  color: #4C4C4C;
}

header {
  text-align: center;
  background-color: #89B0AE;
  color: #4C4C4C;
  position: fixed;
  width: 1536px;
}

header h1 {
  padding-bottom: 5px;
}

header img {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.rij1 {
  float: left;
  margin-left: 17%;
}

.rij2 {
  float: left;
  margin-left: 17%
}

.rechterHeaders{
  margin-left: 900px;
}

.linkerHeaders{
  text-align: center;
}

#Blender-1{
  margin-left: 50px;
}

#HTMLCSS-1{
   margin-left: 50px;
}

article h2{
  text-align: center;

}

article ul{
  margin-left: 525px;
}

article li{
  display: inline;
  border: 2px solid #FAF9F9;
  color: rgb(87,145,84);
  padding: 2px;
  background-color: #89B0AE;
}

article p{
  margin-left: 50px;
  width: 500px;

}

article h3{
  margin-left: 50px;
}

.aanwezig{
  background-color: #4C4C4C;
  color: #89B0AE;
}

article a{
  color: #4C4C4C;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-top: 100px;
  text-align: center;
}
