body {
  background-color: #BEE3DB;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

section {
  color: #4C4C4C;
}

header {
  text-align: center;
  background-color: #89B0AE;
  color: #4C4C4C;
}

header h1 {
  padding-bottom: 5px;
}

header img {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.rij1 {
  float: left;
  margin-left: 17%;
}

.rij2 {
  float: left;
  margin-left: 17%
}

.rechterHeaders{
  margin-left: 900px;
}

.linkerHeaders{
  text-align: center;
}

#Blender-1{
  margin-left: 50px;
}

#HTMLCSS-1{
   margin-left: 50px;
}
